MYSQL_HOST=localhost
MYSQL_USER=CAMBIAR
MYSQL_PASSWORD=CAMBIAR
MYSQL_DATABASE=CAMBIAR
WORKER_TOKEN=CAMBIAR
SECRET_KEY=CAMBIAR

SMTP_HOST=CAMBIAR
SMTP_PORT=587
SMTP_USER=CAMBIAR
SMTP_PASSWORD=CAMBIAR
SMTP_FROM=noreply@erickhernandezarias.net

DIRECTORIO_ARCHIVOS=/home/usuario/uppimagen_archivos
DIAS_RETENCION_ARCHIVOS=7
